@media (max-width: 1172px){
    .upper-container-buttons{
        flex-direction: column;
    }
    .upper-container-buttons a{
        width: 100%;
    }
    .upper-container-buttons a:nth-child(2){
        width: 100%;
        margin: 10px 0 0 0;
    }
}

/***************/
/* laptops */
/***************/

@media (max-width: 1023px){

}


/***************/
/* bigger phones */
/***************/
@media (max-width: 767px){
    body{
        min-width: 320px;
    }
}

